/*常用样式*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
ol,ul{list-style:none;}
a{text-decoration:none;}
body{
    background-color: #EDEADF;
}
/*html,body{*/
    /*overflow: hidden;*/
/*}*/
/*首页样式*/
.container{
    max-width: none;
    padding: 0px;

}
.div_header1{
    height:39px;
    background-color: #1d011b;
}
.div_header1>div{
    max-width: 1180px;
    height:39px;
    margin: auto;
}
.div_header1 li a{
    font-size:12px;
    height:39px;
    line-height:39px;
    color:#cdbccc;
}
.div_header1 li a:hover{
    color:#fff;
}
.div_header2{
    background-color:#63065f;
    height:107.425px;
    width: 100%;
}
.div_header2>div{
    max-width: 1200px;
    height: 100%;
    line-height: 107.425px;
}
.div_header2>div>div{
    height:100%;
    line-height: 107.425px;
}
.div_header2_query{
    width:38px;
    height:28px;
}
.div_header2_right{
    height: 107.425px;
    line-height: 107.425px;
}
.my_nav{
    background-color: #73116f;
}
.my_nav>ul{
    max-width: 1200px;
    margin: auto;
}
.my_nav>ul>li>a{
    width:111px;
}
.my_collapse_nav{
    height: 48px;
}
.my_nav2{
    max-width: 1200px;
    margin:0 auto;
    font-size:0.9rem;
}
.my_nav2_div{
    margin:0 auto;
    font-size:0.9rem;
    display: flex;
}
.my_nav2_div>div{
    width:111px;
    text-align: center;
}
.my_bg1{
    background-color: #575757;
}
.my_bg2{
    background-color:#63065f;
}
.navbar_icon{
    background-color: transparent;
    background-image: url(../images/menu-icon-arrow-white.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;
}
#sm_header{
    /*position: relative;*/
}
.sm_header_a{
    /*position: relative;*/

}
.div_sm_icon>a{

}
.icon_size{
    max-width: 168px;
    vertical-align: middle;
}
#banner{
    overflow: hidden;
}
.carousel-control-prev,.carousel-control-next{
    width:2%;
    top:44%;

}
.carousel-control-prev-icon,.carousel-control-next-icon{
    width:30px;
    height:50px;
    background-color: #000;
    opacity: 0.7;
}
.my_bg3{
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding: 0 15px;
    position: absolute;
    left: 0;
    bottom:50px;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    font-weight: normal;
    background-color:rgba(0,0,0,0.7);
}
.my_width{
    max-width: 1190px;
    margin: auto !important;
    font-family: "Microsoft YaHei";
}
/*南大新闻*/
/*南大新闻图片*/
.div_new>a>span{
    color:#fff;
    margin:14px 0px 0px 0;
    line-height: 20px;
    background-color: #000000;
    opacity: 0.6;
    font-family: "Microsoft YaHei";
    padding: 5px;
    bottom:0px;
}
.div_new>a{
    height: 196px;
    border-top:3px solid #63065f;
    background-repeat: no-repeat;
    background-size:cover;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.a_new1{
    background-image: url(../images/aec6bf26-0106-41a6-9f66-1e0037dc485b.jpg);
}
.a_new2{
    background-image: url(../images/aa8f8183-40e0-4607-86b3-25b48281bebf.jpg);
}
.div_new1{

}
#div_new_right1{
    margin-right: 20px;
}
#div_new_right2{
    margin-right: 20px;
}
.div_new1>div{
    margin-right: 50px;
    margin-bottom: 50px;
    height: 196px;
    border-top:3px solid #63065f;
}
.row_margin{
    margin:14px 0 8px;
}
/*.div_new{*/
    /*float:left;*/
    /*width:349px;*/
    /*height:196px;*/
    /*margin-right: 65px;*/
    /*margin-bottom:54px;*/
/*}*/
/*.div_new>div:first-child{*/
    /*width:349px;*/
    /*height:196px;*/
/*}*/
.a_new{
    height:196px;
}
.img_new{
    height:196px;
    /*width: 349px;*/
}
.div_img_h6{
    bottom:0px;
    left: 0px;
}
.img_h6{
    top:0;
    font-weight: normal !important;
}
.my_h5_color{
    color:#670363;
}
.my_h6_color{
    color:#63065F;
}
.my_time{
    margin: 8px 0;
    line-height: 22px;
    font-size: 18px;
    font-family: "corbel";
}
.my_new_p{
    line-height: 22px;
    margin-top: 20px;
    height: 112px;
    overflow: hidden;
}
.my_new_p>a{
    font-family:"Microsoft YaHei" ;
    color: #000;
    font-size: 12px;
}
.my_new_margin_right{
    margin-right: 65px;
}
/*公告通知*/
.notice_div{
    /*margin-left: 16.66px;*/
}
.notice{
    padding: 10px 30px 30px;
    background-color: #e0d9c9;
    border-top:3px solid #63065f;
}
@media screen and (max-width:991px){
  .notice{
      padding-bottom: 10px;
  }
}

.div_time{
    width:61px;
    height:60px;
}
.div_date{
    font-size:20px;
    color:#fff;
    height:32px;
    line-height: 32px;
    background-color: #63065f;
}
.div_month{
    height:30px;
    font-size:12px;
    line-height: 30px;
    color:#797979;
    background-color: #ffffff;
}
.notice li{
    padding: 21px 0;
    border-bottom: 1px solid #c1b394;
}
.notice_detail{
    line-height: 22px;
    width: 210px;
    color:#63065f;
    font-size: 15px;
}
@media screen and (max-width:991px){
    .notice_detail{
        width: auto;
        float:left !important;
        margin-left: 15px !important;
        line-height: 30px;
    }
}

.notice_detail a{
    color:#63065f;
    font-size: 15px;
}
.div_study>a{
    height: 172px;
    border-top:3px solid #63065f;
    background-repeat: no-repeat;
    background-size:cover;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.div_study>.div_study_right{
    margin-right: 20px;
}
.a_study1{
    background-image: url(../images/e19ccff1-3039-4d28-990f-aeb48da9210b.png);
}
.a_study2{
    background-image: url(../images/86ea9da5-2ec1-40c4-ae6b-49cebe1d70d8.jpg);
}
.a_study3{
        background-image: url(../images/1928e49f-a944-4706-8bbc-ad836049a24c.jpg);
    }
.a_study4{
    background-image: url(../images/d8f22c06-d974-4ef0-a5f8-0f273de2764a.jpg);
}
.div_study>a>span{
    color:#fff;
    margin:14px 0px 0px 0;
    line-height: 20px;
    background-color: #000000;
    opacity: 0.6;
    font-family: "Microsoft YaHei";
    padding: 5px;
    bottom:0px;
}
/*校园生活*/
.div_font1{
    float:left;
    border-top:3px solid #63065f;
}
.div_font1>a{
    display: block;
    margin:20px 0 15px;
}
.my_campus{
    line-height: 20px;
    overflow: hidden;
}
.my_campus>a{
    font-family:"Microsoft YaHei" ;
    color: #000;
    font-size: 12px;
}
.div_imgcampus{
    margin-top:24px;
}
.div_imgcampus a{
    background-image: url(../images/1f31ed5e-9e71-4d67-8272-5de332a065c8.jpg);
    background-size: cover;
    height:174px;
    background-position: center top;
}
.div_imgcampus span{
    color:#fff;
    margin:14px 0px 0px 0;
    line-height: 20px;
    background-color: #000000;
    opacity: 0.6;
    font-family: "Microsoft YaHei";
    padding: 5px;
    bottom:0px;
}
/*底部1*/
.my_footer1{
    height: 240px;
}
/*底部左*/
.ul_footer1{
    margin-top: 69px;
}
.ul_footer1 li a{
    margin-left:5px;
}
@media screen and (min-width:768px) and(max-width: 991px){
    .my_footer1{height：300px;}
    .ul_footer1{margin-top:30px;}
}

.my_bg4{
    background-color: #E0D9C9;
}
@media screen and (max-width: 1018px){
    .div_footer_left{
        float: none !important;
        min-width: 100%;
    }
    .my_footer1{
        height:250px;
    }
    .ul_footer1{
        margin-top: 30px;
    }
}
/*底部右*/
.div_footer1_right{
    margin-top: 80px;
}
.div_footer1_right ul li{
    float: left;
}
.div_footer1_right ul li a{
    width:56px;height:76px;

    margin-right: 23.5px;
    font-size: 14px;
    color:#5A4820;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
}
@media screen and (max-width:1205px) and (min-width: 1019px){
    .div_footer1_right{
        margin-top: 50px;
    }
}
@media screen and (max-width: 1018px){
    .div_footer1_right{
        min-width:100%;
        margin-top: 25px;
    }
    .div_footer1_right ul{
        display: block;
        margin:0 auto;
    }

}
/*6个图*/
.a_footer1_a1{
    background-position: -504px -8px;
}
.a_footer1_a2{
    background-position: -8px -8px;
}
.a_footer1_a3{
    background-position: -105px -10px;
}
.a_footer1_a4{
    background-position: -195px -9px;
    width:67.64px !important;
}
.a_footer1_a5{
    background-position: -311px -9px;
}
.a_footer1_a6{
    background-position: -404px -10px;
    margin-right: 0px !important;
}
/*底部2*/
.my_footer2{
    background-color: #63065f;
    height:195px;
}
.my_footer2>div{
    width: 1190px;
    margin: auto;
}
.div_footer2_left{
    padding-top: 48px;
}
.my_footer2 li{
    margin-right:20px;
}
.my_footer2 h6{
    height:30px;
    line-height: 30px;
    font-size: 16px;
    color:#fff;
}
.my_footer2 p{
    font-size: 13px;
    color: #bbb;
    line-height: 24px;
}
.div_footer2_center{
    margin-top: 18px;
    background-image: url(../images/foot_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.div_footer2_right{
    float: right;
    margin-top: 85px;
    text-align: center;
}
.div_footer2_right a{
    width: 40px;height: 40px;
    float: right;
    margin-right: 18px;
    background-image: url(../images/sharess.png);
    background-repeat: no-repeat
}
.footer2_right_a1{
    background-position: -224px -4px;
}
.footer2_right_a2{
    background-position: -113px -4px;
}
.footer2_right_a3{
    background-position: -63px -4px;
}
.div_footer2_right div{
    width:91px;height:91px;
    background-repeat: no-repeat;
    position: absolute;
}
.div_footer2_right li{
    position: relative;
}
#footer2_right_div3{
    background-image: url(../images/erweima1.png);
    top:-103px;
    left:148px;
    display: none;
}
#footer2_right_div2{
    background-image: url(../images/erweima2.png);
    top:-103px;
    left:205px;
    display: none;
}
#footer2_right_div1{
    background-image: url(../images/erweima3.png);
    top:-103px;
    left:263px;
    display: none;
}

/*底部3*/